<div class="background">
	<div class="container">
		<div class="center jumbotron">
		  <h1>Rachel Berry</h1>
		  <h2>is a junior developer, data pro, and customer service hero</h2>
		  <h3>who would love to work with one of these awesome companies:</h3>
		</div>
	</div>
	
	<div class="container startups">
		<% @startups.each do |s| %>
			<figure class="effect col-xs-6 col-md-4 col-lg-3 col-centered">
				<%= image_tag(s.logo, alt: s.name + " logo", class: "logo", width:"100%", height: "auto" ) %>
				<figcaption>
					<div>
						<h2><%= s.name.upcase %></h2>
						<p><%= s.desc.upcase %></p>
					</div>
					<a href="/startups/<%= s.slug %>">View more</a>
				</figcaption>			
			</figure>
		<% end %>
	</div>
	
	<div class="container">
		<div class="center jumbotron">
		  <h2>Don't see your company here?</h2>
		  <h2><%= link_to("Get in touch!", "mailto:crb@berrycs.com") %></h2>
		</div>
	</div>
	
</div>