<% provide(:title, @startup.name) %>

<main>
  <section id="slide-1" class="homeSlide">
  	<div class="bcg" style="background-image:url(<%= @startup.header %>);" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -200px;" data-anchor-target="#slide-1">
    	<div class="hsContainer">
  		<div class="hsContent" data-200-top="opacity: 1" data-top="opacity: 0" data-anchor-target="#slide-1 h2">
  			<h1>Hey <%= image_tag( @startup.logo, alt: @startup.name + " Logo", width: "100px", height: "auto") %>!</h1>
    		<h2>I heard <%= @startup.maybe ? "you might be" : "you're" %> looking for a <%= @startup.job %></h2>
    		<h3>and I think I can help.</h3>
  		</div>
    	</div>
  	</div>
	</section>
	 
	 
	 <section id="slide-2">
  	<div class="bcg" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -200px;" data-anchor-target="#slide-2">
    	<div class="hsContainer">
	  		<div class="hsContent" data-100-bottom="opacity: 0" data--100-bottom="opacity: 1" data-100-top="opacity: 1" data--200-top="opacity: 0" data-anchor-target="#slide-2 h2">
	  			<h1>My name is Rachel Berry</h1>
	    		<h2>I'm an industrial engineer turned <%= @startup.job %></h2>
	    		<h3>and I've been working hard to build the skills you need:</h3>
	    		<div id="tabs" class="centered">
					  <ul>
					  	<% @reqs.each do |req| %>
					    <li><a href="#tabs-<%= req.sort %>"><%= req.title %></a></li>
					    <% end %>
					  </ul>
					  <% @reqs.each do |req| %>
					  <div id="tabs-<%= req.sort %>">
					    <p><%=raw req.desc %></p>
					  </div>
					  <% end %>
					</div>
	  		</div>
    	</div>
  	</div>
	</section>
	
	<section id="slide-3">
  	<div class="bcg" data-0="background-color:rgb(1,27,59);" data-top="background-color:(0,0,0);"  data-anchor-target="#slide-3">
    	<div class="hsContainer">
    		<div class="hsContent" data-200-bottom="opacity: 0" data--100-bottom="opacity: 1" data--106-top="opacity: 0" data-anchor-target="#slide-3 h2">
	    		<h1><%= @startup.name %> is the perfect place</h1>
	    		<h2>for me to dive in, work hard, learn fast, and make a real difference.</h2>
	    		<h3>Here are a few reasons why:</h3>
    		</div>
      </div>
  	</div>
  </section>
  
  <section id="slide-4">
  	<div class="bcg">
    	<div class="hsContainer">
    		<div class="hsContent" data-bottom-top="opacity: 0" data-center-top="opacity: 1" data-anchor-target="#slide-4">
	    		<div class="owl-carousel">
	    			<% @reasons.each do |reason| %>
	  					<div class="item" style="background-image:url(<%= reason.img %>);">
	  						<div class="reason">
	  							<h1><%= reason.title %></h1>
	  							<p><%=raw reason.desc %></p>
	  						</div>
	  					</div>
  					<% end %>
  				</div>
    		</div>
      </div>
  	</div>
  </section>
  
  <section id="slide-5">
  	<div class="bcg">
    	<div class="hsContainer">
    		<div class="hsContent" data-100-end="opacity: 0" data-end="opacity: 1" data-anchor-target="#slide-5 p">
	    		<h1>TL;DR:</h1>
	    		<p>You're a fast-growing company who needs a quick learner to help build your awesome product and culture. That's me.<br />
	    				Check out the links below for more info and then <%= link_to("get in touch", "mailto:crb@berrycs.com") %>!</p>
    		</div>
      </div>
  	</div>
  </section>
  
</main>
	
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>	   
  	
	<script>
	  $(document).ready(function() {
	    $( "#tabs" ).tabs({
	    	collapsible: true,
	    	active: false
	    });
	  });
	  </script>
	  
	  <script>
	  $(document).ready(function() {
		  $(".owl-carousel").owlCarousel({
		      navigation : true, // Show next and prev buttons
		      slideSpeed : 300,
		      paginationSpeed : 400,
		      singleItem:true,
		      autoPlay: 7000, //Set AutoPlay to 7 seconds
		  });
		});
	</script>
	
  <%= javascript_include_tag :application %>
  
	<!--[if lt IE 9]>
	<script type="text/javascript" src="../skrollr-ie/dist/skrollr.ie.min.js"></script>
	<![endif]-->

	
<script>
  var myWidth = 0, myHeight = 0;
  if( typeof( window.innerWidth ) == 'number' ) {
    //Non-IE
    myWidth = window.innerWidth;
    myHeight = window.innerHeight;
  } else if( document.documentElement && ( document.documentElement.clientWidth || document.documentElement.clientHeight ) ) {
    //IE 6+ in 'standards compliant mode'
    myWidth = document.documentElement.clientWidth;
    myHeight = document.documentElement.clientHeight;
  } else if( document.body && ( document.body.clientWidth || document.body.clientHeight ) ) {
    //IE 4 compatible
    myWidth = document.body.clientWidth;
    myHeight = document.body.clientHeight;
  };
  
  if ( myWidth >= 768 ) {
  	
	//window.alert( 'Width = ' + myWidth );
	
	var s = skrollr.init({
		forceHeight: false,
		edgeStrategy: 'set',
		easing: {
			WTF: Math.random,
			inverted: function(p) {
				return 1-p;
			}
		}
	});
	
  };

</script>
	
	