<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to raw('<span class="fa-stack fa-5x">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-file fa-stack-1x fa-inverse"></i>
                           </span><br /><span class="info">Résumé</span>') , 'http://www.berrycs.com/wp-content/uploads/2014/11/berry_startups2.pdf', target: '_blank' %></li>
      <li><%= link_to raw('<span class="fa-stack fa-5x">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                           </span><br /><span class="info">LinkedIn</span>') , 'http://www.linkedin.com/in/cmrberry', target: '_blank'  %></li>
      <li><%= link_to raw('<span class="fa-stack fa-5x">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                           </span><br /><span class="info">Twitter</span>') , 'http://www.twitter.com/cmrberry', target: '_blank'  %></li>
      <li><%= link_to raw('<span class="fa-stack fa-5x">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                           </span><br /><span class="info">GitHub</span>') , 'http://www.github.com/berrycs', target: '_blank'  %></li>
      <li><%= link_to raw('<span class="fa-stack fa-5x">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-pencil-square-o fa-stack-1x fa-inverse"></i>
                           </span><br /><span class="info">Medium</span>') , 'http://www.medium.com/@cmrberry', target: '_blank'  %></li>                     
    </ul>
    </nav>
  <div class="post-footer">
    <small>
      This site is made with Ruby on Rails, Bootstrap, SASS, Skrollr.js, and lots of love.
      Find the source on <%= link_to "GitHub", 'https://github.com/berrycs/cover_letter', target: '_blank' %>.
    </small>
  </div>
</footer>
  