<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" id="google-font-api-special-1-css" href="http://fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C600%2C700%2C800&amp;ver=4.0.1" type="text/css" media="all">
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
  <% if yield(:title) == "" %>
    <%= render 'layouts/header' %>
  <% end %>
  <div class="container">
    <%= yield %>
  </div>
  <%= render 'layouts/footer' %>
</body>
</html>